@model LoginUserVm

@{
  ViewData["Title"] = "Login Page";
}

<form method="post">
  <div class="card card-body">
    <input class="form-control" asp-for="Username" placeholder="Username" />
    <input class="form-control" asp-for="Password" placeholder="Password" />
    <hr/>
    <button class="btn btn-success">Login</button>
  </div>
</form>