@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-6">
            <img src="https://www.cvent.com/sites/default/files/image/2021-12/massage%20stones%2C%20essential%20oils%2C%20and%20sea%20salt%20set%20up%20for%20spa%20marketing.jpg" height="150px"/>

        </div>
        <div class="col-6">
            <img src="https://assets.architecturaldigest.in/photos/63733ec2a2dd6ea6560eb6da/16:9/w_1615,h_908,c_limit/Ditas%20Interior%20Image%20-%201%20(8).png" height="150px" />

        </div>
    </div>
    <div>
        <img src="https://www.claridges.co.uk/siteassets/rooms/2023-claridges-rooms-and-suites-balcony-room-1920_720.jpg" height="150px" />
    </div>
</div>
