@model List<Report>

@{
  ViewData["Title"] = $"[{Model.Count}] Reports";
}

@if (!Model.Any())
{
  <h3>Reports not found.</h3>
}
else
{
  @foreach (Report report in Model)
  {
    <div class="card card-body">
      <h4><a asp-action="GetById" asp-route-id="@report.Id">@report.Title</a></h4>
      <hr/>
      <p>@report.Description</p>
      <hr/>
      <p style="opacity: 50%;">@report.CreatedAt</p>
    </div>
  }
}
