@model CreateReportVm

@{
  ViewData["Title"] = "Create report";
}

<form method="post">
  <div class="card card-body">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    
    <textarea class="form-control mb-1" asp-for="Description" placeholder="Description" style="min-height: 100px; max-height: 250px;"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    <hr/>
    <button class="btn btn-dark">Create</button>
  </div>
</form>