@model CreateReportVm

@{
  ViewData["Title"] = "Create report";
}

<form method="post">
  <div class="card card-body">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    
    <input class="card card-body mb-1" asp-for="Title" placeholder="Title"/>
    <span class="text-danger" asp-validation-for="Title"></span>
    
    <textarea class="card card-body mb-1" asp-for="Description" placeholder="Description"></textarea>
    <span class="text-danger" asp-validation-for="Title"></span>
    <hr/>
    <button class="btn btn-success">Create</button>
  </div>
</form>