@model Report

@{
  //ViewData["Title"] = $"{Model.Title}";
}

<div class="card card-body">
  <hr/>
  <p>@Model.Description</p>
  <hr/>
  <p style="opacity: 50%;">@Model.EmployeeAcceptedTime</p>
</div>